<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="none">
	 <test name="Test1">
	<parameter name="browsername" value="CH"/>
		<classes>
			<class
				name="automationFramework.Accommodation_booking_3rdparty" />
		</classes>
	</test>
 <!-- <test name="Test2">
	 <parameter name="browsername" value="CH"/>
		<classes>
			<class name="automationFramework.Accommodation_book" />
		</classes>
	</test>-->
</suite> 
