<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="none">
	 <test name="Test1">
	<parameter name="browsername" value="CH"/>
		<classes>
			<class
				name="automationFramework.Accommodation_booking_3rdparty" />
		</classes>
	</test>
 <!-- test name="Test2">
	<parameter name="browsername" value="CH"/>
		<classes>
			<class
				name="automationFramework.Accommodation_bookingHistory" />
		</classes>
	</test>
	 <test name="Test3">
	<parameter name="browsername" value="CH"/>
		<classes>
			<class
				name="automationFramework.Accommodation_booking_for_DOTW_rate_outside_cancellation_one_room" />
		</classes>
	</test-->
</suite> 
